<div class="container">
    <div class="row">
        <!--  -->
        <div class="container">
            <div class="body d-md-flex align-items-center justify-content-between">
                <div class="box-1 mt-md-0 mt-5">
                    <img src="../../../assets/icon.png"
                        class="" alt="">
                </div>
                <div class=" box-2 d-flex flex-column h-100">
                    <div class="mt-5">
                        <p class="mb-1 h-1">Music Charts.</p>
                        <p class="text-muted mb-2 ">Immerse Yourself in Music Analytics: Stats, Charts, Favorites.</p>
                        <div class="d-flex flex-column ">
                            <div class="mx-auto">
                                
                                <button id="login-button" (click)="onLoginSuccess()" 
                                    class="big-btn">Log in with Spotify</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto">
                        <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our
                            <span class="p-color me-1">terms and conditions</span>and
                            <span class="p-color ms-1">privacy policy</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example: Comment -->
        <a routerLink="/dashboard-view">Go to New View</a>
    </div>
</div>
